//
   Created by nicobrooks on 10/26/15.
doctype html
html(lang="en")
    head
        title= 'callrail'

    body
        h1 callrail
form(method="POST", action="/callrail")
    input(type="hidden", name="_method", value="PUT")
    p Start Date:
        input(type="date", name="startDate")
    p End Date:
        input(type="date", name="endDate")
    p
        input(type="submit", value="fetch Callrail data")