//
   Created by nicobrooks on 10/26/15.
doctype html
html(lang="en")
    head
        title= 'test'

    body
        h1 Jade - node template engine

                p You are amazing
                p Get on it!
            p.
                Jade is a terse and simple
                templating language with a
                strong focus on performance
                and powerful features.