//
   Created by nicobrooks on 10/26/15.
doctype html
html(lang="en")
    head
        title= 'home'

    body
        h1 octo-api

                p toAPI (octo-api on Heroku) is an API to the Two Octobers database, and related tools. The database includes performance data and account configuration data. It's primary pupose is as the back end for performance reporting.
            p.
